.alert-wrap {
  position: fixed;
  top: 1%;
  left: 50%;
  transform: translate(-50%);
  width: 20%;
  height: 50px;
  z-index: 1;
}

@media screen and (orientation: landscape) {
.alert-wrap {
  width: 80%;
}
}

.success {
  background-color: green;
}

.warning {
  background-color: lightslategrey;
}

.danger {
  background-color: red;
}

.alert-text {
  text-align: center;
  font-family: "Roboto Condensed", Roboto, "Helvetica Neue", sans-serif;
  color: white;
  padding: 1vw;
}
