@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto Condensed", Roboto, "Helvetica Neue", sans-serif;
}

body {
  height: 100%;
}

@media screen and (orientation: portrait) {
  body {
    padding: 0;
  }
}

div .paginatorSelect {
  float: right;
  width: 150px;
  margin-top: 1px;
  margin-right: 0;
}

div .paginatorSelect mat-select {
  font-family: "Oswald", "Roboto Condensed", sans-serif;
  font-size: 14px;
  text-align: right;
  width: 40px;
}

div .paginatorSelect small {
  font-family: "Oswald", "Roboto Condensed", sans-serif;
  font-size: 11px;
  vertical-align: 0.1em;
  color: rgba(0, 0, 0, 0.30);
  margin-top: 0;
}

.my-pagination {
  z-index: 1;
  font-family: "Oswald", "Roboto Condensed", sans-serif;
  font-size: 13px;
  float: right;
  margin: 0;
}

.active:hover {
  color: gold;
}

.backDrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.centerVertical {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.centerVerticalRelative {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.centerHorizontalAbsolute {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.centerHorizontal {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.centerDiv {
  position: center;
}

.floatedRight {
  float: right;
}

.formArrayGroupContainer {
  display: flex;
  align-items: center;
}

.formContainer {
  border: solid grey 1px;
  transform: translate(-50%);
  padding: 10px 10px 10px 10px;
  margin-top: 1px;
  margin-bottom: 1px;
  width: 500px;
  background-color: white;
}

.formTitle {
  font-size: large;
}

.h120 {
  height: 120px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.h200 {
  height: 250px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.sortArrow:hover {
  color: crimson;
  cursor: pointer;
}

.scroll {
  overflow: auto;
}

.wide {
  width: 100%;
}

.screenHeight {
  height: 80vh;
}

.narrow{
  width: 20%;
}

.input_number_container {
  width: 5%;
}

.z-index-n1 {
  z-index: -1;
}

.z-index-p1 {
  z-index: 1;
}

@media (max-width: 510px) {
  .formContainer {
    width: 90vw;
    height: 80vh;
    padding: 5px 5px 5px 5px;
  }

  .formTitle {
    font-size: medium;
  }
}

@media (max-width: 310px) {
  .formTitle {
    font-size: small;
  }
}

.dn {
  display: none;
}

p {
  text-align: center;
}

.pointer {
  cursor: pointer;
  z-index: 1;
}

mat-form-field {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tgbackground {
  background-color: #35A5DE;
}

mat-toolbar {
  justify-content: space-between;
}

mat-toolbar span {
  font-family: "Oswald", "Roboto Condensed", sans-serif;
  font-size: large;
}

.alert {
  color: white;
  text-align: center;
}

.danger {
  background-color: red;
}

.info {
  background-color: grey;
}

/* buttons styles works together with buttonsStylingDirective */
button {
  font-family: "Oswald Light", "Roboto Condensed", sans-serif;
  margin: 5px 0 5px 0;
}

button:disabled {
  background-color: rgba(80, 80, 89, 0.2) !important;
}

/* contentContainer class start */
.contentContainer {
  padding-top: 5px;
  width: 80%;
  height: 90vh;
  align-items: center;
}

@media screen and (max-width: 300px) {
  .contentContainer mat-form-field {
    width: 100%;
  }
}
/* contentContainer class end */

.error {
  color: red;
  font-family: "Oswald ExtraLight", "Roboto Condensed Light", sans-serif;
  position: relative;
  left: 0;
}

h1, h2, h3, h4, h5 {
  font-family: "Oswald Light", "Roboto Condensed Light", sans-serif;
  text-align: center;
}

.infoDesk {
  width: 60vw;
  background-color: darkgrey;
  font-family: "Oswald ExtraLight", "Roboto Condensed Light", sans-serif;
  color: white;
}

/* navBar classes start */
.navBar {
  background-color: gray;
  min-width: 240px;
}

.navBar ul {
  margin-top: 0;
}

.navBar ul li {
  list-style: none;
  display: inline-flex;
  margin-right: 10px;
}

.navBar ul li a {
  text-decoration: none;
  font-family: "Oswald", "Roboto Condensed Light", sans-serif;
  color: white;
}

@media (max-width: 500px) {
  .navBar ul li a {
    font-size: small;
  }
}

@media screen and (max-width: 350px) and (orientation: portrait) {
  .navBar ul li a {
    font-size: x-small;
  }
}

@media screen and (max-width: 290px) and (orientation: portrait) {
  .navBar ul li {
    margin-right: 5px;
  }
  .navBar ul li a {
    font-family: "Oswald ExtraLight", sans-serif;
    font-size: xx-small;
  }
}
/* navBar classes end */



