<div class="backDrop">
  <ng-container class="z-index-p1" *ngIf="messageForm; else loader">
    <form
      class="col-sm-12 centerHorizontal formContainer m-t-3"
      [formGroup]="messageForm"
      (ngSubmit)="onSubmit(messageForm.value)"
    >
      <mat-form-field>
        <mat-label>текст повідомлення:</mat-label>
        <textarea
          name="text"
          #textInput
          id=""
          cols="30"
          rows="10"
          matInput
          formControlName="text"
        ></textarea>
      </mat-form-field>
      <div *ngIf="messageForm.controls['text'].touched && messageForm.controls['text'].errors">
        <small class="error" *ngIf="messageForm.controls['text'].errors['required']">поле повинно бути заповнене</small>
      </div>

      <mat-form-field>
        <mat-label>вид відправлення:</mat-label>
        <mat-select formControlName="method">
          <mat-option value="sendMessage">повідомлення</mat-option>
          <mat-option value="sendPhoto">фото</mat-option>
          <mat-option value="sendAudio">аудіо запис</mat-option>
          <mat-option value="sendDocument">документ</mat-option>
          <mat-option value="sendVideo">відео</mat-option>
          <mat-option value="sendAnimation">анімація</mat-option>
        </mat-select>
      </mat-form-field>

      <ng-container *ngIf="messageForm.value['method'] !== 'sendMessage'">

        <div *ngIf="messageForm.value['method'] === 'sendPhoto'">
          <img class="h120" [src]="posterSrc" alt="preview"/>
        </div>

        <mat-form-field>
          <mat-label>з мережі</mat-label>
          <input
          matInput
          type="text"
          formControlName="mediaURL"
          (input)="showPreview(messageForm.value['mediaURL'])"
          />
        </mat-form-field>

        <button
          class="col-sm-12 m-b-1"
          mat-button
          color="primary"
          (click)="goToSendFile()"
        >
          з пам'яті
        </button>
      </ng-container>
      <button mat-button
              class="col-sm-6"
              color="primary"
              type="button"
              [disabled]="messageForm.invalid || submitted"
              (click)="close()"
      >
        Скасувати
      </button>

      <button
        mat-raised-button
        class="col-sm-6"
        type="submit"
        color="primary"
        [disabled]="messageForm.invalid || submitted"
      >надіслати
      </button>
    </form>
  </ng-container>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
